{{ define "main" }}
<div class="pa3-ns w-100-m w-60-ns center">
  <section class="flex-ns flex-wrap justify-around mt1">
    <div class="relative mb4 pa4">

      <img src="{{ relURL "images/print_machine.png" }}" alt="AI Coding Playbook" class="db mb4" style="max-width: 100%; height: auto;" />

      <h1>AI Coding Playbook</h1>
      <p class="f4 f5-m" style="word-wrap: break-word;">
        Практическое руководство по внедрению ИИ-инструментов для кодинга в компанию. Основано на Claude Code, но применимо с поправками и для других ИИ-агентов. В дальнейшем планируется пополнение базы знаний информацией, специфичной для других инструментов.
      </p>

      <p class="f5 i gray mt2">
        Дисклеймер: этот гайд субъективный и основан на нашем опыте внедрения ИИ-инструментов в разработку. Всегда оценивайте применимость рекомендаций к вашей ситуации.
      </p>

      <p class="f6 gray mt1">
        Последнее обновление: 27.03.2026
      </p>

      {{ with .Site.GetPage "/personal" }}
        {{ if .Pages }}
        <h2 class="pt4">Личное использование</h2>
        В этом разделе описаны базовые практики использования ИИ-инструментов. Можно начать отсюда, если у вас не так много опыта.
        {{ range .Pages }}
          {{ partial "summary.html" . }}
        {{ end }}
        {{ end }}
      {{ end }}

      {{ with .Site.GetPage "/team" }}
        {{ if .Pages }}
        <h2 class="pt4">Уровень команды</h2>
        В этом разделе описаны практики использования ИИ-инструментов при работе в команде. Как не превратить проект в ИИ-слоп?
        {{ range .Pages }}
          {{ partial "summary.html" . }}
        {{ end }}
        {{ end }}
      {{ end }}

      {{ with .Site.GetPage "/company" }}
        {{ if .Pages }}
        <h2 class="pt4">Уровень компании</h2>
        В этом разделе описаны практики использования ИИ-инструментов на уровне компании. Как не положить прод и не подарить все пароли Дарио Амодею?
        {{ range .Pages }}
          {{ partial "summary.html" . }}
        {{ end }}
        {{ end }}
      {{ end }}

      {{ with .Site.GetPage "/advanced" }}
        {{ if .Pages }}
        <h2 class="pt4">Продвинутые техники</h2>
        {{ range .Pages }}
          {{ partial "summary.html" . }}
        {{ end }}
        {{ end }}
      {{ end }}


    </div>
  </section>
</div>
{{ end }}
